@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");
* {
    font-family: "Noto Sans", sans-serif;
}
.logo {
    height: 60px;
    width: 60px;
    margin-left: -20px;
    padding: 25px 15px 15px 15px;
}
.logo2 {
    height: 25px;
    width: 70px;

    margin-left: -65px;
    margin-top: 26px;
}
.topbutton,
.globe {
    padding: 8px 5px 8px 5px;

    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    font-weight: 400px;
    transition: 0.5s;
}
.topbutton:hover {
    transition: 0.5s;
    background-color: lightgrey;
    opacity: 0.7;
}

.globe {
    margin-left: 30px;
}
